### TwinCAT 3 ###
# VisualStudio
*.~u
*.suo

# TwinCAT folders
_Boot
_CompileInfo
#- Filter all library installed files
_Libraries

# TwinCAT files
*.tclrs
*.tmc
*.tmcRefac
*.tpy
*.orig
*.bak
LineIDs.dbg
LineIDs.dbg.bak

# more specific
*.tsproj.bak
*.plcproj.bak
*.xti.bak
*.tsproj.orig
*.plcproj.orig
*.xti.orig
*.project.~u
